/* You can add global styles to this file, and also import other style files */

*{
  box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 18px;
    font-family: quicksand, sans-serif;
}
a{
  text-decoration:none ;
} 
html{
  font-size: 16px;
}